/* $Id$ */
/*
Bulk AJAX/AHAH stock updater module for Drupal 
Copyright (C) 2010 Antonio Molinari (www.incode.it)
Based on module by Ramesh Nair (www.hiddentao.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/


.uc_custom_stock_updater_ajax_progress
{
	display: inline-block;
	background: transparent url(img/ajax-progress.gif) center center;
	width: 16px; 
	height:  16px;
}

input.error,
.uc_custom_stock_updater_ajax_error
{
	background-color: #f00;
	color: #fff;
}

#edit-uc-custom-stock-updater-filter-wrapper .description {
	clear: both;
}

#edit-uc-custom-stock-updater-filter,
#uc_custom_stock_updater_filter {
	font-size: 18px;
	width: 250px;
	border: 5px solid #333;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}


#edit-search-button {
	border: none;
	background: none;
	background-color: #333;
	color: white;
	font-size: 18px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	
}


#edit-search-button {
	margin-top: 32px;
}

.ahah-progress-throbber {
	margin-top: 40px;
	margin-left: 15px;
}

#edit-uc-custom-stock-updater-filter-wrapper {
	width: 280px;
	float: left;
}

#list-container {
	clear: both;
}
